
.menu-lateral{
    width: 100%;
    height: auto;
}

.menu-lateral{
    height: 68rem;
    border-right: 2px solid #9d9d9d ;/* rgb(179, 0, 0) */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.Contenido{
    width: 100%;
    height: 60rem;
}

.cBot{
    width: 13rem;
    height: 4rem;
    border: 1px solid black;/* rgb(187, 20, 20) */
    border-radius: 5px;
    /* box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.4); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cBot:hover {
    cursor: pointer;
    width: 15rem;
    transition: 0.5s;
    /* background-color: rgb(203, 197, 197); */
    background-color: black;
    color: rgb(255, 255, 255);
}

.botMen{
    text-decoration: none;
    color: black;
}

